/* Merriweather Sans */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Lobster */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --bege-claro: #F3E5D8;
    --bege-quente: #D9B48F;
    --marrom-amadeirado: #6B4F3B;
    --marrom-escuro: #3E2F25;
    --off-white: #FAF8F4;
    --terracota-claro: #B23A48;
    --terracota-escuro: #8F2E3A;
    --sombra-preta: #00000020;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    max-width: 1800px;
    margin: auto;
    font-family: "Merriweather Sans", sans-serif;
    background-color: var(--bege-claro);
    box-shadow: 0px 0px 10px var(--sombra-preta);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1800px;
    z-index: 1000;
    background-color: transparent;
    transition: 0.3s ease;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

section {
    padding: 50px 0px;
}

.section-title {
    font-size: 30px;
    margin-bottom: 5px; 
}

.title-bar {
    height: 3px;
    width: 70px;
    background-color: var(--marrom-amadeirado);
}

.fade-up {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-up.visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-left.visible {
    opacity: 1;
    transform: translateX(0);
}

.fade-right {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-right.visible {
    opacity: 1;
    transform: translateX(0);
}

.fade-delay:nth-child(1) {
     transition-delay: 0.2s;
}

.fade-delay:nth-child(2) {
    transition-delay: 0.4s;
}

.fade-delay:nth-child(3) {
    transition-delay: 0.6s;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
} 

#logo {
    height: 100px;
    transition: 0.3s ease;
}

#mobile-logo {
    display: none;   
}

#nav-list {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.nav-link {
    position: relative;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
    color: var(--bege-claro);
    transition: color 0.3s ease;
}

.nav-link:hover {
    text-shadow: 0px 0px 5px var(--bege-claro);
}

.nav-link::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 2px;
    width: 0;
    background-color: var(--bege-quente);
    transition: width 0.5s ease;
}

.nav-link:hover::after {
    width: 70%;
}

#mobile-menu-button {
    display: none;
}

@media (max-width: 800px) {
 
    header {
        background-image: linear-gradient(180deg, var(--marrom-escuro) 80%, var(--marrom-amadeirado));
    }

    #logo {
        display: none;
    }

    #mobile-logo {
        display: block;
        height: 50px;
    }

    #nav-list {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px 10px;
        background-color: var(--marrom-escuro);
        transition: 0.5s ease;  
    }

    #nav-list.open {
        max-height: 300px;
        opacity: 1;
    }
    
    .nav-item {
        width: 90%;
    }

    .nav-link {
        width: 100%;
        display: flex;
        font-size: 14px;
        justify-content: center;
        padding: 10px;
        border: 1px solid var(--bege-quente);
        border-radius: 0.5rem;
    }

    #mobile-menu-button {
        display: block;
        height: 40px;
        width: 40px;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    #mobile-menu-icon {
        height: 100%;
        width: 100%;
    }
}


#home {
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("./imagens/banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    box-shadow: 2px 3px 5px var(--sombra-preta);
}

#home-content-container {
    padding: 0px 40px;
    width: 1000px;
    color: var(--bege-claro);
}

#home-content-container h1 {
    margin-bottom: 10px;
    font-family: "Lobster", sans-serif;
    font-size: 65px;
    font-weight: 100;
    color: var(--bege-claro);
    text-shadow: 0px 0px 3px var(--bege-quente);
}

#home-content-container p {
    text-align: justify;
    font-size: 20px;
}

@media (max-width: 1024px) {

    #home {
        padding-top: 60px;
        height: 550px;
    }

    #home-content-container {
        width: 100%;
        padding: 0px 20px;
    }
}

@media (max-width: 410px) {

    #home-content-container h1 {
        font-size: 45px;
    }

    #home-content-container p {
        font-size: 17px;
    }
}

@media (min-width: 411px) and (max-width: 1024px) {

    #home-content-container h1 {
        font-size: 50px;
    }

    #home-content-container p {
        font-size: 18px;
    }
}

#about-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#about-text-container {
    width: 500px;
}

#about-text-container p {
    font-size: 17px;
    text-align: justify;   
    margin-top: 20px;  
}

#about-image-container {
    height: 400px;
    width: 300px;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border: 2px solid var(--marrom-amadeirado);
    overflow: hidden;
    box-shadow: 8px 8px 0px var(--bege-quente);
}

#about-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 600px) {

    #about {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    #about-content-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #about-text-container {
        order: 1;
        width: 90%;
    }

    #about-image-container {
        order: 2;
        width: 300px;
        max-width: 90%;
    }

    #about-text-container .section-title {
        font-size: 25px;
        text-align: center;
    }

    #about-text-container .title-bar {
        margin: auto;
    }

    #about-text-container p {
        font-size: 16px;
    }
}

@media (min-width: 601px) and (max-width: 890px) {

    #about {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #about-content-container {
        gap: 30px;
        padding: 0px 20px;
    }

    #about-image-container {
        width: 300px;
    }

    #about-text-container {
        width: 500px;
        padding-top: 10px;
    }

    #about-text-container .section-title {
        font-size: 25px;
    }

    #about-text-container p {
        font-size: 16px;
    }
}

@media (min-width: 891px) and (max-width: 1100px) {


    #about-content-container {
        gap: 30px;
    }

    #about-image-container {
        width: 300px;
    }

    #about-text-container {
        width: 500px;
        padding-top: 10px;
    }

    #about-text-container h2 {
        font-size: 25px;
    }

    #about-text-container p {
        font-size: 16px;
    }
}

#call-to-action {
    padding: 20px 0px;
    background-image: linear-gradient(180deg, var(--bege-claro), var(--bege-quente) 90%);
    border-top: 1px solid var(--bege-quente);
}

.effect-phrase {
    font-family: "Lobster", "Merriweather Sans", sans-serif;
    font-size: 25px;
    color: var(--terracota-claro);
    text-align: center; 
}

.button-container {
    display: flex;
    justify-content: center;
}

#location {
    position: relative;
    background-color: rgba(62, 47, 37, 0.925);
    background-image: url("./imagens/mapa.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

#location .section-title {
    color: var(--off-white);
    text-align: center;
}

#location .title-bar {
    margin: auto;
    background-color: var(--bege-quente);
}

#hours-container {
    position: absolute;
    top: -50px;
    right: 180px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: var(--terracota-escuro);
    color: var(--bege-claro);
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 2px 3px 5px #d9b48f3d;
    transition: 0.5s ease;
}

#hours-container h2 {
    font-size: 20px;
    text-align: center;
}

#hours-list {
    padding-left: 20px;
    font-size: 14px;
}

#hours-container:hover {
    transform: translateY(-5px);
    box-shadow: 4px 5px 7px #d9b48f3d;
}

#location-address {
    margin: 20px 0px;
    font-size: 20px;
    color: var(--bege-claro);
    text-align: center;
}

#map-container {
    height: 250px;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--bege-claro);
    overflow: hidden;
    transition: 0.3s ease;
}

#map-container:hover {
    box-shadow: 0px 0px 10px var(--bege-claro);
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

#location-content-container hr {
    height: 1px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    background-color: var(--bege-quente);
    border: none;
}

@media (max-width: 970px) {

    #location {
        padding-top: 30px;
    }

    #location .section-title {
        font-size: 25px;
    }

    #location-address {
        font-size: 16px;
        width: 90%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center; 
    }

    #hours-container {
        position: static;
        width: 90%;
        max-width: 320px;
        margin: auto;
        margin-bottom: 30px;
    }  

}

@media (max-width: 1200px) {

    #map-container {
        width: 90%;
    }
}

#contact {
    background-image: linear-gradient(150deg, var(--bege-claro), var(--bege-quente));
}

#contact-content-container {
    display: flex;
    justify-content: center;  
}

#form-container {
    flex: 5;
}

#form-container .section-title {
    text-align: center;
}

#form-container .title-bar {
    margin: auto;
}

form {
    width: 450px;
    margin: auto;
    margin-top: 20px;
}

form h2 {
    text-align: center;
}

form hr {
    margin: auto;
    margin-bottom: 20px;
}

label, input, textarea {
    display: block;
    font-size: 16px;
}

label {
    margin-bottom: 5px;
}

input:not([type="submit"]), textarea {
    width: 100%;
    font-family: inherit;
    padding: 5px 8px; 
    border: none; 
    border-radius: 5px;
    transition: 0.3s ease;
}

input:not([type="submit"]) {
    margin-bottom: 15px;
}

textarea {
    height: 120px;
    resize: none;   
}

input:not([type="submit"]):focus, textarea:focus {
    outline: none;
    box-shadow: 0px 0px 5px var(--terracota-claro);
}

input[type="submit"] {
    margin-top: 15px;
    padding: 5px 10px;
    font-family: inherit;
    font-size: 16px;
    color: var(--off-white);
    background-color: var(--terracota-claro);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

input[type="submit"]:hover {
    background-color: var(--bege-quente);
}

address {
    flex: 3;
    font-style: normal;
}

#social-media-list {
    list-style-type: none;
    margin-top: 30px;
}

.social-media-item a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.social-media-icon {
    height: 35px;
    width: 35px;
}

address h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
}

#other-contacts-list {
    list-style-type: none;
}

.other-contacts-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    font-size: 16px;
}

.whatsapp-button {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    margin-top: 20px;
    padding: 10px;
    font-size: 13px;
    color: var(--off-white);
    background-color: green;
    border-radius: 10px;
    transition: 0.3s ease;
}

.whatsapp-icon {
    height: 20px;
    width: 20px;
}

.whatsapp-button:hover {
    background-color: rgba(0, 128, 0, 0.623);
}

@media (max-width: 540px) {

    #contact-content-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
    }

    #contact-content-container h2 {
        font-size: 25px;
    }

    #form-container {
        width: 100%;
    }

    form {
        width: 90%;
    }

    address {
        width: 90%;
        display: flex;
        justify-content: flex-start;
    }

    #address-content-container {
        width: 100%;
    }

    #other-contact-whatsapp {
        margin: auto;
    }
}

@media (min-width: 541px) and (max-width: 940px) {

    #contact-content-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
    }
}

footer {
    padding: 15px 20px;
    background-color: var(--marrom-escuro); 
}

footer hr {
    height: 1px;
    width: 100%;
    background-color: var(--bege-quente);
    border: none;
}

#footer-content {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 10px;
    color: var(--bege-claro);
}

#footer-content a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 520px) {

    #footer-content {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

#whatsapp-floating-button {
    position: fixed;
    right: 40px;
    bottom: 40px;
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 3px 5px var(--sombra-preta);
}

#whatsapp-floating-button img {
    height: 100%;
    width: 100%;
}





